/*body { background: white}*/
/*body { background: #202020;overflow:hidden;}*/
html,body {width:100%; height:100%}
body { background: black;overflow:hidden;}
.livePixel{margin: 50px auto; } /*Center the player*/